body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: #FBFAF8;
    padding: 15px;
}

.sidebar nav {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

nav > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FBFAF8;
    border: none;
    border-radius: 10px;
}

.sidebar-menu button { 
    gap: 20px;
}

.projects button {
    gap: 5px;
}

button:hover, button:focus {
    background-color: #F5F4FA;
}

button:focus {
    outline: none;
}

nav button > svg {
    flex-basis: 10%;
}

.projects button > svg:first-child {
    flex-basis: 5%;
}

#content {
    display: grid;
    grid-auto-columns: 1fr;
}