:root.light {
    --color-icon-fill: #000000;
    --color-button-outline: #F5F4FA;
    --color-sidebar-bg: #FBFAF8; 
    --color-base-text: #000000;
    --color-base-bg: #FFFFFF;
}

:root.dark {
    --color-icon-fill: #FFFFFF;
    --color-button-outline: #34343C;
    --color-sidebar-bg: #2B2B33;
    --color-base-text: #FFFFFF;
    --color-base-bg: #242329;
}

.projects::-webkit-scrollbar {
    background: transparent;
}

.projects::-webkit-scrollbar-button {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-base-text);
    background-color: var(--color-base-bg);
}

button {
    color: var(--color-base-text);
}

svg {
    fill: var(--color-icon-fill);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: var(--color-sidebar-bg);
    padding: 15px;
}

nav {
    display: grid;
    grid-template-rows: 0.25fr 0.75fr 2fr;
    gap: 10px;
    height: 100vh;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile svg {
    flex-basis: 15%;
}

#theme-toggle { 
    display: flex;
    justify-content: center;
}

#theme-toggle svg {
    flex-basis: 80%;
}

nav > div:first-child {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

nav > div:not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav > div:last-child {
    padding: 5px;
    overflow-y: auto;
    scrollbar-color: #8B8B8B transparent;
}

nav button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-sidebar-bg);
    border: none;
    border-radius: 10px;
}

.sidebar-menu button { 
    gap: 20px;
}

.projects button {
    gap: 5px;
}

button:hover {
    background-color: var(--color-button-outline);
}

nav button > svg {
    flex-basis: 10%;
}

.projects button > svg:first-child {
    flex-basis: 5%;
}

#content {
    display: grid;
    grid-auto-columns: 1fr;
}