body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: #FBFAF8;
    padding: 15px;
}

.sidebar nav {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu > button  {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-menu > button > svg {
    flex-basis: 10%;
}

#content {
    display: grid;
    grid-auto-columns: 1fr;
}